body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  padding-left: 6px;
  margin: 0;
}

.head-style {
  font-size: 50px;
  margin-bottom: 5%;
  position: relative;
  bottom: -30px;
  left: 0;
  border-bottom: double;
}

#logo {
  position: relative;
  top: 0;
  left: 209px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar main";
  width: 100vw;
  height: 100vh;
}

#main {
  grid-area: "main";
}

#new-message {
  position: fixed;
  bottom: 40px;
  width: 100%;
  padding: 5px;
  margin-left: -7px;
  border-top: 5px solid #3f3f3f;
}

#chat-list {
  padding: 5px 0 0 5px;
}

#sidebar {
  grid-area: sidebar;
  padding: 5px 0 0 5px;
  border-right: 5px solid #3f3f3f;
  height: 100%;
}
